@model IEnumerable<WebZhurnal.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Пользователи</h2>

<div class="row">
    <div class="col-md-2"> <a asp-action="Create">Добавить нового</a></div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
    <form method="post" asp-action="ImportUsers"  asp-controller="Excel" class="row" enctype="multipart/form-data">

        <div class="col-xs-5" >
            <img src="~/images/file_upload_icon.png" width="16" />
            <strong>Импорт из Excel</strong>
            <input type="file" name="excelFile" accept=".xlsx" />
        </div>
        <div class="col-xs-7"><button class="btn btn-submit">Далее</button></div>
    </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Тип
            </th>
            <th>
                Логин
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Телефон
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @(item.Claims.FirstOrDefault(c=>c.ClaimType=="Type")?.ClaimValue?.Translate())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
